.app{
  display: grid;
  grid-template-columns: 33% 67%;
  grid-template-rows: 1fr;
  height: 100vh;
  gap: 1.5rem;
}
.main{
  grid-column: 2;
  grid-row: 1;
}
.aside{
  grid-column: 1;
  grid-row: 1;
}
.aside img{
  width: 100%;
  height: 730px;
}
