form{
  max-width: 35rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
form legend:first-of-type{
  display: flex;
  align-items: center;
  gap: 0.875rem;
  margin-bottom: 1.5rem;
  color: var(--text-heading);
  font: var(--font-heading-sm-complete);
}
.dates{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  
}
.dates label{
  margin-top: 1rem;
  margin-bottom: 0.85rem;
}
.start-wrapper{
  grid-column: 1/2;
  grid-row: 1;
}
.end-wrapper{
  grid-column: 2/2;
  grid-row: 1;
}
.ensinos{
  margin-top: 1rem;
  display: grid;
    grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
}
.control-group span{
  display: inline-block;
  color: var(--text-body);
  font: var(--font-body-sm-complete);
  margin-bottom: 0.75rem;
}
.segmente-control{
  display: flex;
  background-color: var(--input-base);
  justify-content: space-evenly;
  align-items: center;
  padding: 0.4rem;
  border: 1px solid var(--input-stroke);
  border-radius: 0.5rem;

}
.segmente-control img{
  width: 1rem;
  height: 1rem;
}
.segmente-control input[type="radio"] {
  display: none;
  
}

.segmente-control label {
  flex: 1;
  padding: 0.5rem 1rem;              
  color: #919eab;                
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;                       
  z-index: 2;                     
  transition: color 0.3s ease;
  margin-bottom: 0px;
}



.segmente-control input[type="radio"]:checked + label {
  color: #ffffff;             
  background-color: #2f3336;   
  border-radius: 4px;    
}

.icone-video{
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  & div:first-of-type {
    width: 1rem;
    height: 1rem;
    background-image: url(/globals-css/assets2/video.svg);
    display: flex;
    align-self: center;
    background-size: contain;
  }
}
#opt-online:checked + .opt-online .video-image {
  background-image: url(/globals-css/assets2/video-checked.svg);
}
.icone-predio{
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  & div:first-of-type {
    width: 1rem;
    height: 1rem;
    background-image: url(/globals-css/assets2/building-2.svg);
    display: flex;
    align-self: center;
    background-size: contain;
  }
}
#opt-presencial:checked + .opt-presencial .predio-image {
  background-image: url(/globals-css/assets2/building-checked.svg);
}

.textarea-wrapper{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  position: relative;
}
textarea{
  padding: 1rem;
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  border-radius: 0.5rem;
  outline: none;
  font: var(--font-body-sm-complete);
  &:focus{
    border: 1px solid var(--brand-dark);
    
  }
}
.style-info{
  margin-top: 3rem;
}
.style-info h2{
  margin-bottom: 1.5rem;
  color: var(--text-heading);
  font: var(--font-heading-md-complete);
}
