
form{
  max-width: 35rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
}
form legend:first-of-type{
  display: flex;
  align-items: center;
  gap: 0.875rem;
  margin-bottom: 1.5rem;
  color: var(--text-heading);
  font: var(--font-heading-sm-complete);
}
.dates{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  
}
.dates label{
  margin-top: 1rem;
  margin-bottom: 0.85rem;
}
.start-wrapper{
  grid-column: 1/2;
  grid-row: 1;
}
.end-wrapper{
  grid-column: 2/2;
  grid-row: 1;
}
.ensinos{
  margin-top: 1rem;
  display: grid;
    grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
}
.control-group span{
  display: inline-block;
  color: var(--text-body);
  font: var(--font-body-sm-complete);
  margin-bottom: 0.75rem;
}
.segmente-control{
  display: flex;
  background-color: var(--input-base);
  justify-content: space-evenly;
  align-items: center;
  padding: 0.4rem;
  border: 1px solid var(--input-stroke);
  border-radius: 0.5rem;

}
.segmente-control img{
  width: 1rem;
  height: 1rem;
}
.segmente-control input[type="radio"] {
  display: none;
  
}

.segmente-control label {
  flex: 1;
  padding: 0.5rem 1rem;              
  color: #919eab;                
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;                       
  z-index: 2;                     
  transition: color 0.3s ease;
  margin-bottom: 0px;
}



.segmente-control input[type="radio"]:checked + label {
  color: #ffffff;             
  background-color: #2f3336;   
  border-radius: 4px;    
}

.icone-video{
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  & div:first-of-type {
    width: 1rem;
    height: 1rem;
    background-image: url(/globals-css/assets2/video.svg);
    display: flex;
    align-self: center;
    background-size: contain;
  }
}
#opt-online:checked + .opt-online .video-image {
  background-image: url(/globals-css/assets2/video-checked.svg);
}
.icone-predio{
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  & div:first-of-type {
    width: 1rem;
    height: 1rem;
    background-image: url(/globals-css/assets2/building-2.svg);
    display: flex;
    align-self: center;
    background-size: contain;
  }
}
#opt-presencial:checked + .opt-presencial .predio-image {
  background-image: url(/globals-css/assets2/building-checked.svg);
}

.textarea-wrapper{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  position: relative;
}
textarea{
  padding: 1rem;
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  border-radius: 0.5rem;
  outline: none;
  font: var(--font-body-sm-complete);
  &:focus{
    border: 1px solid var(--brand-dark);
    
  }
}
.style-info{
  max-width: 35rem;
  width: 100%;
  margin: 3rem auto 3rem auto;
}
.style-info fieldset{
  border: none;
}
.style-info h2{
  display: flex;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
  color: var(--text-heading);
  font: var(--font-heading-sm-complete);
}
.style-info legend{
  margin-bottom: 1rem;
  color: var(--text-heading);
  font: var(--font-body-sm-complete);
}
.radio-wrapper{
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.radio-wrapper input[type="radio"]{
  appearance: none;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  box-shadow: 0 0 0 6px var(--shape-button);
  
  &:checked{
    box-shadow: 0 0 0 3px var(--shape-button), 0 0 0 5px #80C2F5;  
  }
}
.radio-wrapper input[type="radio"]:nth-child(1) { background-color: var(--brand-light) }
.radio-wrapper input[type="radio"]:nth-child(2) { background-color: var(--navy); }
.radio-wrapper input[type="radio"]:nth-child(3) { background-color: var(--purple); }
.radio-wrapper input[type="radio"]:nth-child(4) { background-color: var(--fuschia); }
.radio-wrapper input[type="radio"]:nth-child(5) { background-color: var(--pink); }
.radio-wrapper input[type="radio"]:nth-child(6) { background-color: var(--feedback-danger); }
.radio-wrapper input[type="radio"]:nth-child(7) { background-color: var(--orange); }
.radio-wrapper input[type="radio"]:nth-child(8) { background-color: var(--yellow); }
.radio-wrapper input[type="radio"]:nth-child(9) { background-color: var(--lime); }
.radio-wrapper input[type="radio"]:nth-child(10) { background-color: var(--green); }
.radio-wrapper input[type="radio"]:nth-child(11) { background-color: var(--cyan); }

.event-theme fieldset{
  max-width: 35rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.5rem;
}
.article-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--shape-button);
  height: 8rem;
  border-radius: 0.5rem;
  position: relative;
  padding: 0.3rem;
}
.article-wrapper input[type="radio"]{
   position: absolute; /* Sai do fluxo e ignora os outros elementos */
  top: 0;
  left: 0;
  width: 100%; /* Ocupa toda a largura do article */
  height: 100%; /* Ocupa toda a altura do article */
  margin: 0;
  opacity: 0; /* Torna o círculo original invisível */
  cursor: pointer;
  z-index: 10; /* Garante que ele esteja ACIMA da imagem e do texto */
}
.article-wrapper:has(input[type="radio"]:checked){
  border: 2px solid var(--brand-light);
}
.article-wrapper label{
  margin: auto;
  
}
.article-wrapper img{
  width: 100%;
}

.article-wrapper article{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}