@import url(/app.css);
@import url(/globals.css);
@import url(/main.css);
@import url(/aside.css);
@import url(input.css);
@import url(/form.css);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* Brand Colors */
  --brand-light: #59B2FF;
  --brand-mid: #3487CF;
  --brand-dark: #1D6FB6;

  /* Accent Colors */
  --purple: #B259FF;
  --pink: #FF598B;
  --fuschia: #FF59F9;
  --orange: #FF8B59;
  --yellow: #FFCD59;
  --lime: #E1FF59;
  --green: #59FF91;
  --cyan: #59FFF9;
  --navy: #6A59FF;

  /* Feedback */
  --feedback-danger: #FF5959;

  /* Input */
  --input-base: #1C1F21;
  --input-stroke: #363B40;
  --input-placeholder: #869198;

  /* Shape */
  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2D3136;
  --shape-hover: #383D42;

  /* Text */
  --text-body: #C8CDD0;
  --text-heading: #F9F9F9;



  /* Logo - Formato: weight size/line-height family */
  --font-logo: 400 40px/normal 'Leckerli One', cursive;

  /* Headings */
  --font-heading-md-complete: 700 28px/normal 'Baloo 2', sans-serif;
  --font-heading-sm-complete: 700 18px/normal 'Baloo 2', sans-serif;

  /* Body */
  --font-body-md-complete: 400 16px/normal 'Open Sans', sans-serif;
  --font-body-sm-complete: 400 14px/normal 'Open Sans', sans-serif;
  --font-body-xs-complete: 400 12px/normal 'Open Sans', sans-serif;

  /* Variação SemiBold para o Body se necessário */
  --font-body-md-semibold: 600 16px/normal 'Open Sans', sans-serif;
  --font-body-md: 400 16px/normal 'Open Sans', sans-serif;

}
body{
  background-color: var(--shape-background);
  padding: 1.5rem;
}