label{
  display: inline-block;
  margin-bottom: 0.75rem;
  color: var(--text-body);
  font: var(--font-body-sm-complete);
}
input{
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  width: 100%;
  padding: 0.85rem;
  color: var(--input-placeholder);
  font: var(--font-body-md);
  border-radius: 0.5rem;
  outline: none;
  &[type="text"], [type="textarea"]{
    &:hover,&:focus-within{
      border: 1px solid var(--brand-light);
    }
    &:invalid{
      border: 1px solid var(--feedback-danger);
    }
  }

}
input[type="datetime-local"]{
  color: var(--input-placeholder);
  &::-webkit-calendar-picker-indicator {
    display: none;
  }
}
.droparea-wrapper input[type="file"]{
  border: none;
  background-color: var(--shape-body);
  padding: 0;
  margin-top: 1rem;
  font-size: 0.9rem;
}
.droparea-input::file-selector-button{
  background-color: var(--shape-button);
  border: none;
  padding: 0.75rem;
  border-radius: 0.5rem;
  color: var(--text-heading);
  background-image: url(/globals-css/assets2/upload.svg);
  background-repeat: no-repeat;
  background-position: 0.75rem center;
  background-size: 1rem;
  padding-left: 40px;
}
.error{
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
  color: var(--feedback-danger);
}