main{
  display: flex;
  flex-direction: column;
  background-color: var(--shape-body);
  border-radius: .75rem;
  padding: 5rem;
  align-items: center;
  width: 100vh
}
main h1{
  margin-bottom: 2.5rem;
  color: var(--text-heading);
  font: var(--font-heading-md-complete);
}